LOCAL_IP=$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4)
INSTANCE_ID=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)
INSTANCE_TYPE=$(curl -s http://169.254.169.254/latest/meta-data/instance-type)

SECRET=

RUN_PATH="/home/ubuntu/aws_mongo_export/current"
DATA_PATH="/mongo_export_data"
LOG_PATH=${RUN_PATH}/log/export.log
S3_PATH=
TRANS_JOBID=

echo "make env file for mongo_export"
cat <<EOF > env.sh
RUN_PATH="${RUN_PATH}"
DATA_PATH="${DATA_PATH}"
LOG_PATH="${LOG_PATH}"
S3_PATH="${S3_PATH}"
TRANS_JOBID="${TRANS_JOBID}"
EOF

echo "make env file for mongo_export_lambda"
cat <<EOF > mongo_export_lambda/env.py
LOCAL_IP="${LOCAL_IP}"
SECRET="${SECRET}"
EOF

echo "make env file for mongo_export_ec2_lambda"
cat <<EOF > mongo_export_ec2_lambda/env.py
INSTANCE_ID="${INSTANCE_ID}"
EOF