[Unit]
Description=Mongo-export-entry-flask
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/aws_mongo_export/current/mongo_export_api
ExecStart=/usr/bin/python3.10 /home/ubuntu/aws_mongo_export/current/mongo_export_api/app.py
Restart=always

[Install]
WantedBy=multi-user.target
